*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1370px;
    height: 75px;
    background-color:black;
}


.menu{
    width: 620px;
    float:right;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

